body {
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

* {
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 500px;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #000;
    border-radius: 10px;
}

label {
    font-size: 20px;
    color: #888;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}